## AND With Linear regression

In [5]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_excel("Book.xlsx.xlsx")

In [18]:
data.head()

   X1  X2  Y
0   0   0  0
1   0   1  0
2   1   1  1
3   1   0  0
4   0   0  0

In [19]:
from sklearn.linear_model import LinearRegression
linear_r   = LinearRegression()

In [28]:
data.columns

Index(['X1', 'X2', 'Y'], dtype='object')

In [53]:
x_train = data[['X1', 'X2']]
y_train = data['Y']

In [54]:
linear_r.fit(x_train,y_train)

LinearRegression()

In [55]:
linear_r.coef_

array([0.48932384, 0.48932384])

In [56]:
linear_r.intercept_

-0.12455516014234869

In [57]:
linear_r.score(x_train,y_train)

0.7800814895043582

In [125]:
print(f" 0 and 0 : {round(linear_r.predict([[0,0]])[0])}")
print(f" 1 and 1 : {round(linear_r.predict([[1,1]])[0])}")
print(f" 1 and 0 : {round(linear_r.predict([[1,0]])[0])}")
print(f" 0 and 1 : {round(linear_r.predict([[0,1]])[0])}")

 0 and 0 : 0
 1 and 1 : 1
 1 and 0 : 0
 0 and 1 : 0

In [134]:
y_pred = pd.DataFrame(linear_r.predict(x_train),columns=["Y_pred"]).astype("int")

In [138]:
final_data = pd.concat((data,y_pred),axis=1)

In [139]:
final_data.head()

   X1  X2  Y  Y_pred
0   0   0  0       0
1   0   1  0       0
2   1   1  1       1
3   1   0  0       0
4   0   0  0       0

# OR With Linear Regression
0 or 0 = 0
1 or 0 = 1
1 or 1  = 1
0 or 1 = 1

In [140]:
data_o = pd.read_excel("Book 1.xlsx")

In [142]:
data_o.head()

   A  B  A or B
0  0  0       0
1  0  0       0
2  0  0       0
3  0  0       0
4  0  0       0

In [146]:
train_x = data_o[["A","B"]]
train_y = data_o["A or B"]

In [147]:
lr = LinearRegression()

In [148]:
lr.fit(train_x,train_y)

LinearRegression()

In [149]:
lr.score(train_x,train_y)

0.7814982973893303

In [151]:
print(f" 0 or 0 : {round(lr.predict([[0,0]])[0])}")
print(f" 0 or 1 : {round(lr.predict([[0,1]])[0])}")
print(f" 1 or 1 : {round(lr.predict([[1,1]])[0])}")
print(f" 1 or 0 : {round(lr.predict([[1,0]])[0])}")

 0 or 0 : 0
 0 or 1 : 1
 1 or 1 : 1
 1 or 0 : 1

In [153]:
Pred_y = pd.DataFrame(lr.predict(train_x),columns=["pred_A_or_B"]).astype("int")

In [155]:
final_data = pd.concat((data_o,Pred_y),axis=1)

In [156]:
final_data.head()

   A  B  A or B  pred_A_or_B
0  0  0       0            0
1  0  0       0            0
2  0  0       0            0
3  0  0       0            0
4  0  0       0            0

# XOR Gate
The XOR gate gives an output of 1 if either of the inputs is different, it gives 0 if they are the same